/* Diseño pagina completa*/
*{  
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  margin: 0;
  height: 100vh;
  background-color: #928DAB;
  color: white;
}
/*--------------------------- Header ---------------------------*/

header{
  background-color: #1F1C2C;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.img-perfil{
  margin-top: 30px;
  width: 10%;
  border-radius: 50%;
}
/*Color de nombre y est. desarrollo ...*/
.presentacion{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* div Botones Header*/
.botones{
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-bottom: 25px;
}

/* Diseño de cada boton*/
.c-nav-item{
  border: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: rgb(43, 43, 43);
  cursor: pointer;
  color: white;
}

.c-nav-item:hover{
  color: white;
  background-color: #7184ed;
  transition: .7s;
  padding: 0 25px;
}

/*Certificados*/
.certificados{
  text-align: center;
}


a{
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  margin: 10px;
  color: #7184ed;
}

a:hover{
  transition: 1s;
  font-size: 20px;
  color: white;
}

/* Diseño separador de header y section*/
hr{
  margin: 30px;
  border: 1px solid;
  border-radius: 20px;
  color: aliceblue;
}

/*-------------------------- SECTION --------------------------*/
section{
  display: flex;
  justify-content: center;
}

/*Separacion entre section */
.contenido-general{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.contenido-general.mostrar{
  opacity: 1;
  transform: translateY(0);
}
/* Boton de lenguajes*/
.contenido-general .boton-conocimiento{

  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  margin: 10px;
}

/* Boton ocultar*/
.boton-ocultar{
  display: block;
  margin: 20px auto;
  height: 40px;
  width: 170px;
  font-size: 25px;
  border-radius: 20px;
  padding: 1px; 
  cursor: pointer;
}

/* Logo lenguajes section*/
.imagen-lenguaje {
  margin: 0px 10px;
  width: 75px;      /* Ajusta el tamaño a tu gusto */
  height: 75px;     /* Mantiene proporción */
}

/* -------------------- MAIN --------------------*/
/* Descripcion del conococimiento seleccionado*/
main{
  margin-bottom: 100px;
}

.desc-conocimiento{
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  align-items: center;
}

.img-desc{
  display: flex;
  width: 35%;
  align-items: center;
}

/* Titulo del conococimiento*/
.contenido-conocimiento h1{
  margin: 50px;
  text-align: center;
}
/* Imagen del conocimiento*/
.desc-conocimiento img{
  margin-right: 10px;
  width: 200px;
  height: 200px;
}

/* Parrafo del conocimiento */
.desc-conocimiento p{
  font-size: 20px;
}
/*-----------------  SOBREMI-DESC ----------------------*/
.sobremi-desc{
  max-width: 600px;
  margin: 0 auto; /* Centra horizontalmente el div */
  text-align: center; /* Centra el texto dentro del div */
}
/* ---------------- SECTION-SOBREMI -------------------*/

/*Contenedores de SECTION-SOBREMI*/
.referencia, .idiomas, .educacion, .habilidades{
margin: 25px 25px;
}

/* Titulo de cada contenedor*/
h3{
  margin: 20px;
  text-align: center;
  font-size: 25px;
}

/* Telefono de contacto y correo (SECTION y FOOTER)*/
.email, .tel{
  display: flex;
  font-size: 20px;
}

/* Iconos email, telefono*/
.email img, .tel img{
  width: 25px;
  height: auto;
  margin-right: 8px;
}

/* ------------- FOOTER ----------------- */
footer{
  margin-top: 125px;
  background-color: #1F1C2C;
  display: flex;
  justify-content: space-around;

}

.footer-der{
  display: flex;
}
.p-footer{
  font-size: 20px;
  font-weight: bold;
  max-width: 300px;
}

.div-footer{
  margin: 50px;
}

.icon-footer, .footer-der a{
  display: flex;
  width: 25px;
}

.footer-der a p{
  margin-top: 3px;
  margin-left: 10px;
}

/* Responsive design */
@media (max-width: 600px){
  /* DISEÑO PRINCIAL SIN EVENTOS DE .js*/
  .img-perfil{
    width: 25%;
    margin-left: 10px;
  }

  .nombre-info h1{
    margin-top: 30px;
    font-size: 20px;
  }

  .nombre-info h4{
    font-size: 12px;
  }

  .botones{
    gap: 10px;
    padding: 15px;
  }

  .sobremi-desc{
    margin: 50px;
  }

  .section-sobremi{
    display: block;
    margin-bottom: 50px;
  }

  .habilidades ul li, .idiomas .idioma, .educacion .desc-educacion{
    text-align: center;
    justify-content: center;
    margin: 3px 30px;
  }
  /* FOOTER */
  footer{
    margin: 0;
    padding: 0 0 40px 0;
    flex-direction: column;
  }

  footer .sitio-creado{
    font-size: 15px;
    text-align: center;
  }

  footer .footer-der .div-footer{
    padding: 0;
    margin: 0;
  }

  .footer-der{
    justify-content: space-evenly;
  }

  footer .footer-der h3{
    font-size: 17px;
  }

  .icon-footer{
    width: 20px;
  }

  .links p{
    font-size: 13px;
  }

  /* DISEÑO BOTONES DE main.js*/
  .imagen-lenguaje{
    margin: 0px 0px;
    width: 45px;      /* Ajusta el tamaño a tu gusto */
    height: 45px;     /* Mantiene proporción */
  }

    /* DISEÑO BOTON OCULTAR HEADER*/
    .boton-ocultar{
      display: block;
      margin: 20px auto;
      height: 35px;
      width: 130px;
      font-size: 17px;
      border-radius: 20px;
      padding: 1px; 
    }

  /* DISEÑO LINKS Certificados DE main.js*/
  .certificados{
    font-size: 11px;
  }

  a:hover{
    font-size: 11px;
  }

  /* DISEÑO DE lenguajes.js*/
  .desc-conocimiento{
    display: flex;
    flex-direction: column;
  }

  .img-desc{
    display: flex;
    align-items: center;
    margin-left: 35px;
  }

  .desc-conocimiento p, .desc-conocimiento ul{
    margin: auto;
    width: 60%;
    font-size: 15px;
  }
  .desc-conocimiento .img-desc-cono{
    width: 25%;
    height: 25%;
  } 
}